html * {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
*, *:after, *:before {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
body {
  font-size: 100%;
  font-family: 'Lato', sans-serif;
  color: #336600;
  background-color: black;
}
body, html {
  height: 100%;
}
a {
  color: gray;
  text-decoration: none;
}
img {
  max-width: 100%;
}
p {
  color: gray;
  font-size: 16px;
  text-align: justify;
}
.small-switch {
  display: none;
}
.test-border {
  border:1px solid black;
}
/* Sectional backgrounds */
.hello {
  background:
   linear-gradient(
      rgba(8,1,186,0.75),
      rgba(255,255,255,0.30)
      ),
    url(../images/heroHE.jpg)repeat center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-clip: border-box;
}
.photography {
  background:
   linear-gradient(
      rgba(244,255,45,0.40),
      rgba(80,201,144,0.70)
      ),
    url(../images/heroRE.jpg)repeat center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-clip: border-box;
}
.hireme {
  background:
   linear-gradient(
      rgba(8,1,186,0.50),
      rgba(255,255,255,0.25)
      ),
    url(../images/heroHM2.jpg)repeat center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-clip: border-box;
}
/* services specific */
.services {
  background-color: rgba(255,255,255,0.2);
  width: 50%;
  height: 220px;
  z-index: 1
}
.slogans {
  text-shadow: 1px 1px 1px rgba(0, 0, 0, .50);
}
.center {
  text-align: center;
}
/* Text colors */
.section h1 {
  font-size: 60px;
  font-weight: 300;
  color: white;
}
.section h2 {
  color: white;
}
.section h3 {
  font-size: 20px;
  color: white;
}
.section p {
  color: #336600;
}
/* Vertically centering content in each section */
.content-wrapper {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}
.content {
  position: relative;
  width: 100%;
  max-width: 1200px;
  height: 100%;
  display: table;
  padding: 20px 70px;
  margin: 0 auto;
}
.content-inner {
  display: table-cell; /* this is the key to vertically centering*/
  vertical-align: middle;
  text-align: center;
}
.cd-scroll-down {
  position: absolute;
  left: 50%;
  right: auto;
  -webkit-transform: translateX(-50%);
  -moz-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  -o-transform: translateX(-50%);
  transform: translateX(-50%);
  bottom: 10px;
  width: 38px;
  height: 44px;
  background: url("../images/cd-arrow-bottom.svg") no-repeat center center;
}
.front-page-motto-1 {
  width: 100%;
  z-index: 100;
  border: 1px solid rgba(255,255,255,0.3);
  border-radius: 5px;
}
/* Button Styling */
.btn.outline {
    background: none;
    padding: 12px 22px;
}
.btn-primary.outline {
    border: 1px solid white;
    color: white;
}
.btn-primary.outline:hover, .btn-primary.outline:focus, .btn-primary.outline:active, .btn-primary.outline.active, .open > .dropdown-toggle.btn-primary {
    color: #69BE28;
    border-color: #69BE28;
}
.btn-primary.outline:active, .btn-primary.outline.active {
    border-color: black;
    color: black;
    background-color: white;
    box-shadow: none;
}

@media only screen and (max-width: 768px) {
  .section h1 {
    font-size: 18px;
    font-weight: 700;
    text-transform: uppercase;
  }
  .section h2 {
    font-size: 18px;
  }
  .services {
    width: 100%;
  }
  #real-estate {
    display: block;
    height: 220px;
  }
  #coffee {
    display:none;
    height: 280px;
  }
  .small-switch {
    display: inline-block;
  }
  .content {
    width: 100%;
    padding: 0px 10px;
  }
  #photography {
    display: block !important;
  }
}